@font-face {
    font-family: 'Aeroport';
    font-weight: bold;
    src: local('Aeroport'), url("../fonts/AeroportBold.ttf");
}
@font-face {
    font-family: 'Aeroport';
    font-weight: lighter;
    src: local('Aeroport'), url("../fonts/AeroportLight.ttf");
}
@font-face {
    font-family: 'Aeroport';
    font-weight: normal;
    src: local('Aeroport'), url("../fonts/AeroportMedium.ttf");
}
@keyframes BGShow {
    0% {opacity : 0;}
    100% {opacity : 1;}
}


body{
    height: 100vh;
    width: 100vw;
    margin: 0px;

    #app{
        height: 100%;
        width: 100%;
        background-color: white;
        transition: background-color 1s;

        &.greenBG{
            background-color: #D9FA72;
        }
    }

    .ButtonWhite1{
        padding: 5px 20px;
        background-color: white;
        margin: 0px 10px;
        border: none;
        border-radius: 10px;
        font-family: "Aeroport";
        font-weight: lighter;
        font-size: 15px;
        transition: 0.3s all;
        box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.33), 0px 4px 3px 0px rgba(0, 0, 0, 0.08);
    }
    .InputWhite1{
        padding: 5px 20px;
        background-color: white;
        margin: 0px 10px;
        border: none;
        border-radius: 10px;
        font-family: "Aeroport";
        font-weight: lighter;
        font-size: 15px;
        transition: 0.3s all;
        box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.33), 0px 4px 3px 0px rgba(0, 0, 0, 0.08);
    }
}